/* $---- GROUP - gray */
/* Background */
.bg-cool-gray-50 {
    background-color: $cool-gray-50;
}
.bg-cool-gray-100 {
    background-color: $cool-gray-100;
}
.bg-cool-gray-200 {
    background-color: $cool-gray-200;
}
.bg-cool-gray-300 {
    background-color: $cool-gray-300;
}
.bg-cool-gray-400 {
    background-color: $cool-gray-400;
}
.bg-cool-gray-500 {
    background-color: $cool-gray-500;
}
.bg-cool-gray-600 {
    background-color: $cool-gray-600;
}
.bg-cool-gray-700 {
    background-color: $cool-gray-700;
}
/* Color */
.c-cool-gray-50 {
    color: $cool-gray-50;
}
.c-cool-gray-100 {
    color: $cool-gray-100;
}
.c-cool-gray-200 {
    color: $cool-gray-200;
}
.c-cool-gray-300 {
    color: $cool-gray-300;
}
.c-cool-gray-400 {
    color: $cool-gray-400;
}
.c-cool-gray-500 {
    color: $cool-gray-500;
}
.c-cool-gray-600 {
    color: $cool-gray-600;
}
.c-cool-gray-700 {
    color: $cool-gray-700;
}


/* $---- GROUP - green */
/* Background */
.bg-green-50 {
    background-color: $green-50;
}
.bg-green-100 {
    background-color: $green-100;
}
.bg-green-200 {
    background-color: $green-200;
}
.bg-green-300 {
    background-color: $green-300;
}
/* Color */
.c-green-50 {
    color: $green-50;
}
.c-green-100 {
    color: $green-100;
}
.c-green-200 {
    color: $green-200;
}
.c-green-300 {
    color: $green-300;
}


/* $$-- GROUP - blue */
/* Background */
.bg-blue-50 {
    background-color: $blue-50;
}
.bg-blue-100 {
    background-color: $blue-100;
}
.bg-blue-200 {
    background-color: $blue-200;
}
.bg-blue-300 {
    background-color: $blue-300;
}
/* Color */
.c-blue-50 {
    color: $blue-50;
}
.c-blue-100 {
    color: $blue-100;
}
.c-blue-200 {
    color: $blue-200;
}
.c-blue-300 {
    color: $blue-300;
}


/* ------ GROUP - red */
/* Background */
.bg-red-50 {
    background-color: $red-50;
}
.bg-red-100 {
    background-color: $red-100;
}
.bg-red-200 {
    background-color: $red-200;
}
.bg-red-300 {
    background-color: $red-300;
}
/* Color */
.c-red-50 {
    color: $red-50;
}
.c-red-100 {
    color: $red-100;
}
.c-red-200 {
    color: $red-200;
}
.c-red-300 {
    color: $red-300;
}


/* ------ GROUP - yellow */
/* Background */
.bg-yellow-50 {
    background-color: $yellow-50;
}
.bg-yellow-100 {
    background-color: $yellow-100;
}
.bg-yellow-200 {
    background-color: $yellow-200;
}
.bg-yellow-300 {
    background-color: $yellow-300;
}
/* Color */
.c-yellow-50 {
    color: $yellow-50;
}
.c-yellow-100 {
    color: $yellow-100;
}
.c-yellow-200 {
    color: $yellow-200;
}
.c-yellow-300 {
    color: $yellow-300;
}


/* ------ GROUP - complementary */
/* Background */
.bg-light-blue {
    background-color: $light-blue;
}
.bg-scarlet {
    background-color: $scarlet;
}
.bg-amber {
    background-color: $amber;
}
/* Color */
.c-light-blue {
    color: $light-blue;
}
.c-scarlet {
    color: $scarlet;
}
.c-amber {
    color: $amber;
}